# Normalize to LF in the repo
* text=auto eol=lf

# Shell & Docker bits must be LF (avoid ^M in Docker/Linux)
*.sh text eol=lf
Dockerfile text eol=lf
mvnw text eol=lf
.mvn/** text eol=lf

*.cmd text eol=crlf
